.container {
    display: grid;
    grid-gap: 5px;
    grid-template-columns: repeat(auto-fit, minmax(100px, 1fr));
    grid-template-rows: repeat(2, 100px);
}

.number1{
    background-color:#acf4b6;

}
.number2{
    background-color:#ffe975;
}

.number3{
    background-color:#5efffa;
}

.number4{
    background-color:#e6b4fd;
}

.number5{
    background-color:#8dfecd;
}

.number6{
    background-color:#fd9a5c;
}